{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block seo %}{% endblock %}
{% block styles %}{% endblock %}
{% block content %}

{% include 'partial/header.html' %}

<div class="app-content">
    <div class="slideshow-container">
        <div class="slide fade">
            <img src="{% static 'assets/images/slides/slider_1.webp' %}" alt="Slide 1">
        </div>
        <div class="slide fade">
            <img src="{% static 'assets/images/slides/slider_2.webp' %}" alt="Slide 1">
        </div>
        <button type="button" onclick="plusSlides(-1)" class="prevBtn slideBtn"><i class="ri-arrow-left-s-line"></i></button>
        <button type="button" onclick="plusSlides(1)" class="nextBtn slideBtn"><i class="ri-arrow-right-s-line"></i></button>
    </div>

    <div class="container-fluid" style="background-color: #f9f9f9;">
        <div class="product-section container">
            <div class="product-wrapper">
                <div class="tab-title">
                    <h2 class="f16 fw7 text-upper">
                        <span>Sản phẩm mới</span>
                    </h2>
                </div>
                <div class="product-list">
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg1.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 1
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg2.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 2
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg3.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 3
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg4.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 4
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg1.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 1
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg2.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 2
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg3.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 3
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg4.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 4
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="product-img-banner">
                    <img src="{% static 'assets/images/main_banner_image.webp' %}" alt="Ảnh banner chính">
                </div>
                <div class="tab-title">
                    <h2 class="f16 fw7 text-upper">
                        <span>Sản phẩm nổi bật</span>
                    </h2>
                </div>
                <div class="product-list">
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg1.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 1
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg2.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 2
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg3.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 3
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg4.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 4
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg1.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 1
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg2.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 2
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg3.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 3
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg4.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 4
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg1.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 1
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg2.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 2
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg3.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 3
                            </h3>
                        </div>
                    </div>
                    <div class="card card-product">
                        <div class="card-img">
                            <img src="{% static 'assets/images/product/pimg4.webp' %}" alt="Hình ảnh sản phẩm">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title f18 text-upper fw4">
                                Sản phẩm 4
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-category">
                <h2 class="category-title text-upper">
                    Danh mục sản phẩm
                </h2>
                <ul class="categories">
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                    <li class="category-item">
                        <a href="#" class="category-link"><i class="ri-arrow-right-circle-line"></i> Phụ tùng ford mondeo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% include 'partial/footer.html' %}

{% endblock %}
{% block scripts %}

<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("slide");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
    }
</script>

{% endblock %}
