.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    font-size: 12px;
    color: #054086;
}

.top-header span {
    color: #054086;
}

.top-header span:first-child {
    padding-right: 8px;
    border-right: 2px solid #054086;
}

.top-header span:last-child {
    padding-left: 8px;
}

.top-header a {
    color: #054086;
    margin-right: 10px;
}

.top-header a i {
    color: #054086;
    font-size: 14px;
}

.search-form-wrapper {
    padding: 20px 0;
    height: 120px;
    display: flex;
    align-items: center;
}

.search-form-wrapper .logo {
    height: 80px;
    width: auto;
}

.search-form-wrapper .logo img {
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
    /* aspect-ratio: 16/9; */
}

.search-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form form input {
    display: block;
    width: 360px;
    height: 40px;
    border: 1px solid #ddd;
    outline-color: #bbb;
    font-size: 15px;
    color: #444;
    padding: 6px 16px;
    /* border-radius: 4px; */
}

.search-form form button {
    width: 40px;
    height: 40px;
    background-color: #054086;
    color: #fff;
}

.navbar {
    position: relative;
    background-color: #054086;
}

.navbar.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11112;
    background-color: #fff;
    transition: .25s ease-in-out;
    color: #054086;
}

.navbar .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar .nav-list .nav-item {
    transition: .25s ease-in-out;
}

.navbar .nav-list .nav-item.active {
    background-color: #333;
}

.navbar .nav-list .nav-item:hover {
    background-color: #333;
}

.navbar .nav-list .nav-item .nav-link {
    padding: 13px 25px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    border-right: 1px solid #333;
    transition: .25s ease-in-out;
}

.navbar.scrolled .nav-list .nav-item .nav-link {
    color: #054086;
    border: none;
}

.navbar.scrolled .nav-list .nav-item.active .nav-link {
    color: #fff;
}

.navbar .nav-list .nav-item:hover .nav-link {
    color: #fbbf22;
}

#toggleMenu {
    display: none;
    margin: 0 15px;
    height: 40px;
    background-color: transparent;
}

#toggleMenu i {
    color: #fff;
    font-size: 15px;
}

.m-search-btn {
    position: relative;
    display: none;
    background-color: #fff;
    padding: 10px;
    z-index: 11112;
}

.m-search-btn i {
    font-size: 15px;
    color: #054086;
}

@media (max-width: 768px) {
    #toggleMenu {
        display: inline-block;
    }

    .m-search-btn {
        display: inline-block;
    }

    .top-header {
        justify-content: center;
    }

    .top-header span {
        display: none;
    }

    .search-form::after {
        display: block;
        content: '';
        position: absolute;
        top: -24px;
        height: 24px;
        width: 100%;
        /* background-color: red; */
    }

    .search-form {
        /* display: block; */
        display: none;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 11111;
    }
    .search-form.show {
        display: block;
    }

    .search-form-wrapper {
        justify-content: center;
    }

    .navbar .nav-list {
        flex-direction: column;
        display: none;
        height: 0;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        background-color: #fff;
        color: #333;
        transition: .25s ease-in-out;
    }

    .navbar .container {
        padding: 0;
    }

    .navbar .nav-list.show {
        height: auto;
        display: flex;
        align-items: start;
    }

    .navbar .nav-list .nav-item {
        width: 100%;
        border-bottom: 1px solid #ddd;
    }
    
    .navbar .nav-list .nav-item .nav-link {
        color: #054086;
        border: none;
    }

    .navbar .nav-list .nav-item.active .nav-link {
        color: #fff;
    }
    
    .navbar.scrolled .nav-list .nav-item .nav-link {
        color: #054086;
        border: none;
    }
    
    .navbar.scrolled .nav-list .nav-item.active .nav-link {
        color: #fff;
    }
    
    .navbar .nav-list .nav-item:hover .nav-link {
        color: #fbbf22;
    }
}

