@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

button, a, span {
    display: inline-block;
}

a {
    color: #333;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.toast {
    background-color: #f56565;
    color: white;
    padding: 8px 16px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-size: 15px;
    animation: fadeInOut 3s forwards;
}
@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
}
.toast-message.error {
    background-color: #e53e3e;
}

.toast-message.success {
    background-color: #48bb78;
}

.toast-message.info {
    background-color: #4299e1;
}

.toast-message.warning {
    background-color: #ed8936;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 16px;
}

.container-fluid {
    width: 100%;
}

#toast-container {
    position: fixed; 
    top: 120px; 
    right: 60px; 
    z-index: 11111;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f17 {
    font-size: 17px;
}

.mb1 {
    margin-bottom: 8px;
}

.mb2 {
    margin-bottom: 16px;
}

.mb3 {
    margin-bottom: 24px;
}

.fw5 {
    font-weight: 500;
}

.fw6 {
    font-weight: 600;
}

.fw7 {
    font-weight: 700;
}

.hover-effect i,
.hover-effect {
    transition: .25s ease-in-out;
}

.hover-effect:hover,
.hover-effect:hover i {
    color: #fbbf22;
}

@media (max-width: 576px) {
    #toast-container {
        right: 40px;
    }
}
